<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4>
    Anatolia's Container Tracking and Yard Management Portal<img src="../assets/anatoliaLogoBlack.png"  align="right"  alt="Anatolia Tiles" height="65" width="255"/>
  </h4>
  <hr>
</div>
<!--  <app-conatiner-data-table></app-conatiner-data-table> -->
<app-containerentrytable></app-containerentrytable>
<!-- <app-containerentryform></app-containerentryform>  -->
<!--<app-table-demo></app-table-demo>-->

